[submodule "app/lib/bootstrap"]
	path = app/lib/bootstrap
	url = git@github.com:twitter/bootstrap.git
[submodule "app/lib/animate.css"]
	path = app/lib/animate.css
	url = git@github.com:daneden/animate.css.git
[submodule "app/lib/fontawesome"]
	path = app/lib/fontawesome
	url = git@github.com:FortAwesome/Font-Awesome.git
[submodule "app/lib/holderjs"]
	path = app/lib/holderjs
	url = git@github.com:imsky/holder.git
[submodule "app/lib/lesshat"]
	path = app/lib/lesshat
	url = git://github.com/CSSHat/LESSHat.git
